<h1>Customers</h1>
<hr>
<br>
<br>
<br>
<div>All the customers will be displayed here</div>
<br>
<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis cumque, officiis sit possimus, quisquam suscipit, porro vero consequuntur, sequi odio sint velit non facilis ratione error inventore repudiandae esse. Inventore!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi explicabo provident impedit ea, nostrum beatae, cum praesentium quam fugiat. Tenetur nostrum fuga deserunt vel quas quae mollitia, dolorem corrupti a!</div>
<br>
<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, dolor, quis. Nulla aliquam totam, error sed optio debitis modi et animi est minus nesciunt dolor, sit, ratione quasi, esse numquam.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat hic excepturi saepe fugiat. Rerum aliquam natus nesciunt iure ipsam vero nulla quisquam, laboriosam? Possimus quaerat dolore vel repellendus aut facere.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis, deleniti excepturi doloremque ex voluptatum aut numquam? Excepturi quo nemo voluptas, ducimus asperiores consequuntur, eos perferendis voluptatum debitis nulla reiciendis vel?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore delectus quia dignissimos ipsam voluptas mollitia id, voluptatum fugit esse magni odit doloribus voluptatibus tenetur veniam vero rerum atque facere. Doloribus!</div>
